{% extends 'base.html' %}

{% block title %}Übersicht Staplerfahrzeuge{% endblock title %}

{% block content %}
    <h2><b>Übersicht Staplerfahrzeuge</b></h2>
    <div style="display: grid; gap: .5rem; grid-template-columns: repeat(5, 1fr);">
        {% for f in forklifts %}
            {% include 'forklift/forklift_card.html' %}
        {% endfor %}
    </div>
{% endblock content %}

{% block script %}
<script>
    function toggle_operator(operator_id, forklift_id) {
        $.ajax({
            type: 'PUT',
            url: '{% url "forklift:toggle_operator" %}',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            contentType: 'application/json',
            data: JSON.stringify({
                operator_id: operator_id,
                forklift_id: forklift_id,
                allowed: $('#operator-' + operator_id + '-' + forklift_id).prop('checked'),
            }),
        }).done(function (data) {
            location.reload();
        }).fail(function (data) {
            console.error("Failed to toggle operator: ", data)
        }).always(function (data) {
            console.log("Successfully toggled operator.")
        });
    }

    function toggle_can_operate(forklift_id) {
        $.ajax({
            type: 'PUT',
            url: '{% url "forklift:can_operate" %}',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            contentType: 'application/json',
            data: JSON.stringify({
                forklift_id: forklift_id,
                can_operate: $('#can-operate-' + forklift_id).prop('checked'),
            }),
        }).done(function (data) {
            location.reload();
        }).fail(function (data) {
            console.error("Failed to toggle operator: ", data)
        }).always(function (data) {
            console.log("Successfully toggled operator.")
        });
    }

    function update_hours_run(forklift_id){

        let added_time = prompt("Füge hier die neue Laufzeit in Stunden ein. Trenne die Dezimalstelle bitte durch einen Punkt!").toString()
        $.ajax({
            type: 'PUT',
            url: '{% url "forklift:hours_run" %}',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            contentType: 'application/json',
            data: JSON.stringify({
                forklift_id: forklift_id,
                added_time: added_time,
            }),
        }).done(function (data) {
            location.reload();
        }).fail(function (data) {
            console.error("Failed to update hours run: ", data)
        }).always(function (data) {
            console.log("Successfully updated hours run.")
        });
    }

    function update_next_check(forklift_id){

        let new_date = prompt("Gib hier das neue Datum im Format TT.MM.JJJJ ein!").toString()
        $.ajax({
            type: 'PUT',
            url: '{% url "forklift:next_check" %}',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            contentType: 'application/json',
            data: JSON.stringify({
                forklift_id: forklift_id,
                next_check: new_date,
            }),
        }).done(function (data) {
            location.reload();
        }).fail(function (data) {
            console.error("Failed to update next check: ", data)
        }).always(function (data) {
            console.log("Successfully updated next check.")
        });
    }

    function request_repair(forklift_id){

        let message = prompt("Gib hier deine Nachricht an die Werkstatt ein:").toString()

        $("#in-repairs-"+forklift_id).prop("checked", true)
        $.ajax({
            type: 'PUT',
            url: '{% url "forklift:request_repair" %}',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            contentType: 'application/json',
            data: JSON.stringify({
                forklift_id: forklift_id,
                message: message,
                w1: $("#workshop-1-" + forklift_id).prop('checked'),
                w2: $("#workshop-2-" + forklift_id).prop('checked'),
                w3: $("#workshop-3-" + forklift_id).prop('checked'),
            }),
        }).done(function (data) {
            location.reload();
        }).fail(function (data) {
            console.error("Failed to request repair: ", data)
        }).always(function (data) {
            console.log("Successfully requested repair.")
        });
    }

    function end_repair(forklift_id){

        let price = prompt("Gib hier die Kosten der Reparatur ein. Trenne Cents bitte durch einen Punkt und gibt kein Euro-Zeichen ein.")

        $("#in-repairs-"+forklift_id).prop("checked", false)
        $.ajax({
            type: 'PUT',
            url: '{% url "forklift:end_repair" %}',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            contentType: 'application/json',
            data: JSON.stringify({
                forklift_id: forklift_id,
                price: price,
            }),
        }).done(function (data) {
            location.reload();
        }).fail(function (data) {
            console.error("Failed to request repair: ", data)
        }).always(function (data) {
            console.log("Successfully requested repair.")
        });
    }
</script>
{% endblock script %}
    